.comments {
  padding: 30px 0;

  @include e(btn) {
    float: right;
  }

  @include e(heading) {
    text-align: center;
  }

  @include e(link) {
    color: black;
    @include hover {
      color: lighten($color: #000000, $amount: 40%);
    };
  }

  @include e(title) {
    margin: 15px 0;
  }

  @include e(wrapper) {
    background-color: $athens-gray;
    padding: 15px;
    margin: 15px 0;
    text-align: justify;
  }

  @include e(item) {
    background-color: lighten($color: $athens-gray, $amount: 2%);
    padding: 5px;
  }

  @include e(sub-item) {
    border-left: 5px solid $valencia;

    @include hover {
      border-left: 5px solid maroon;
      color: inherit;
    }
  }

  @include e(author) {
    font-weight: bold;
    margin-bottom: 5px;
  }

  @include e(date) {
    font-size: 0.8em;
    font-weight: normal;
  }
}