.pagination {
  padding: 30px 0;

  @include e(info) {
    float: left;
    display: none;
    padding: 8px 16px;

    @include mq(md) {
      display: block;
    }
  }

  @include e(info-number) {
    font-weight: bold;
  }

  @include e(buttons) {
    float: right;
  }

  @include e(button) {
    color: black;
    float: left;
    padding: 8px 16px;
    transition: background-color 0.3s;
    border: 1px solid $athens-gray;
    margin: 0 4px;

    @include m(special) {
      display: none;

      @include mq(lg) {
        display: block;
      }
    }

    @include m(active) {
      background-color: $valencia;
      color: white;
      border: 1px solid $valencia;
    }
  }

  @include e(items-count) {
    display: none;
    float: left;

    @media(min-width: 425px) {
      display: block;
    }
  }

  @include e(label) {
    display: inline-block;
    margin-right: 5px;
  }

  @include e(select) {
    color: $black;
    margin: 0;
    padding: 5px;
    width: auto;
  }
}
